{% extends "base.html" %}

{% block abc %}

{% if not created %}:
<form method="POST" action=".">
    {% csrf_token %}
    <div style='margin-top:30px;'><input type="text" name="title" placeholder="Title"/></div>
    <div style='margin-top:10px;'></div><textarea name="content" placeholder="Content"></textarea></div>
    <div></div><button type="submit">Create article</button></div>
</form>
{% else %}
<p>your article was created</p>
<li><a href="/articles/{{obj.id}}">{{obj.title}} - {{obj.content}}</li>
{% endif %}

{% endblock abc %}